.header{
    background-image: url("../imgs/pizza7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @media (max-width: 992px){
        background-position: center;
        height: inherit;
        .dropdown-menu.dropy.show{
            /*.header{
                height: inherit;
            }
            */
        }   
    }
    nav.bg-dark{
        font-family: 'Charmonman', cursive;
        background-color: black!important;
        a{
            color: white;    
        }
        div{
            .nav.nav-style{
            border: none;
            padding: 0.1em 0;
            background-color: black;
            }
        }
    }
    .dropdown-menu.dropy.show{
        a#connard{
            color:rgb(224, 15, 15)!important;
        }
    }
    a.dropdown-item{
        color:black!important;
    }
    .navbar-light .navbar-toggler .navbar-toggler-icon{
        color: #a9ae60!important;
    }
    .jumbotron{
        text-align: center;
        color: #a9ae60;
        height: 85%;
        background-color: rgba(0,0,0,0)!important;
        @media (max-width: 992px){
            height: 60%;
        }
        h1{
            display: inline-block;//tjs un block + comportement en inline
            font-family: 'Charmonman', cursive;
            background-color: rgba(54,30,17,0.7);
            border-radius: 60px;
            font-size: 6em;
            letter-spacing: 0.03em;
            margin: 1.8em 0 1.7em 0;
            padding: 0.3em 0.2em 0.1em 0.2em;
            @media (max-width: 992px) {
                font-size: 2em;
                margin: 0 0 1em 0;
                padding:0.1em 0 0.1em 0;
                border-radius: 10px;
            }           
        }
        p{
            font-family: 'Charmonman', cursive;
            letter-spacing: 0.1em;
            @media (max-width: 992px) {
                font-size: 1.2em;
            }
        }
    }
}
//responsive galerie contact adresse
.header.responsive{
    @media (max-width: 992px){
        padding: 0 0 6.55em 0;
    }
}
.header.inherit{
    @media (max-width: 992px){
        height: inherit;
    }
}
//acceuil -> panel
#panel{
    background-color: #361e11;
    color: #a9ae60;
    font-family: 'Charmonman', cursive;
    @media (max-width: 992px){
        h3{
            font-size: 1.3em;
        }
    }
}
#panel1{
    padding: 1em;
}
#panel2{
    padding: 1em;
}
#IndexCarousel{
    width: 60%;
    height: 60vh;
    border: 25px solid #a9ae60;
    overflow: hidden;
    margin: auto;
    @media (max-width: 992px) {
        border: 8px solid #a9ae60;
        height: inherit;
    }
}

//galerie
#carouselExampleIndicators{
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    overflow: hidden;
    margin: 2.5em auto auto auto;
    @media (max-width: 992px) {
        border: 8px solid #a9ae60;
        height: inherit;
        padding: 2.5em auto;
    }
}
//page-menu
.menu.pizza-yolo{
    font-family: 'Charmonman', cursive;
    background-color: rgba(140,73,39,1);
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    color: white;
    overflow: hidden;
    margin: 2.5em auto 2.5em auto;
    @media (max-width: 992px) {
        border: 8px solid #a9ae60;
        height: 150vh;
    }

    div{
        h2{
            margin: 1.1em 0 0 0;
            font-size: 4em;
            @media (max-width: 992px){
                font-size: 1.5em;
            }

        }
    }   
}
#images{
    @media (max-width: 992px) {
        img{
        display: block;
        width: 100%;
        }
    }
}
#list-tab{
    width: 444px;
    height: 29.2vh;
    @media (max-width: 992px){
        width: inherit;
        height: inherit;
    }
}
#nav-tabContent{
    width: 888px;
    height: 29.2vh;
    overflow: hidden;
    @media (max-width: 992px){
        width: inherit;
        height: inherit;
        p{
            margin: 2em 0 0 0;
        }
    }
}
.work.list-group-item{
    background-color: #7e654a;
    color: white;
}
.work.list-group-item.active{
    background-color: #a9ae60;
    border: 0.5px solid #7e654a;
}
//Adresse
#adresse{
    font-family: 'Charmonman', cursive;
    background-color: rgba(140,73,39,1);
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    color: #a9ae60;
    overflow: hidden;
    margin: 2.5em auto 2.5em auto;
    @media (max-width: 992px) {
        border: 8px solid #a9ae60;
        height: inherit;
        h2{
            font-size: 1.8em;
        }
        h3{
            font-size: 1.3em;
        }
    }  
    h2{
        margin-top: 0.5em;
    }
    div{
        div:nth-child(1){
            border-right: #a9ae60 1px solid;
            @media (max-width: 992px){
                border-bottom: #a9ae60 1px solid;
            }
        }
    }
}
#carte-adresse1{
    width: 80%;
    height: 45vh;
}
#carte-adresse2{
    width: 80%;
    height: 45vh;
}
//formulaire
#formulaire{
    font-family: 'Charmonman', cursive;
    background-color: rgba(140,73,39,1);
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    color: #a9ae60;
    overflow: hidden;
    margin: 2.5em auto 2.5em auto; 
    @media (max-width: 992px) {
        border: 8px solid #a9ae60;
        height: inherit;
    }
}
.input-formu{
    @media (max-width: 992px) {
        width: 100%;
    }
}
#pff-jai-pas-dinspi{
    height: 100%;
}
#options{
    margin-top: 0.8em;
}
//footer
footer{
    color: white;
    padding: 0.5em 0;
    font-family: 'Charmonman', cursive;
    background-color: black;
}
#icone-foot{
    a{
        color:white!important;
    }
}
#footer-copyright{
    @media (max-width: 992px) {
        margin: 10px 0 5px 0;
    }
}
.debug{
    border: 3px solid red;
}