.header{
    background-image: url("../imgs/pizza7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    @media (max-width: 767.98px){
        background-position: center;
        height: inherit;
        .dropdown-menu.dropy.show{
            /*.header{
                height: inherit;
            }
            */
        }   
    }
    nav.bg-dark{
        font-family: 'Charmonman', cursive;
        background-color: black!important;
        a{
            color:white;    
        }
        div{
            .nav.nav-style{
            border: none;
            padding: 0.1em 0;
            background-color: black;
            }
        }
    }
    .dropdown-menu.dropy.show{
        a#connard{
            color:rgb(224, 15, 15)!important;
        }
    }
    a.dropdown-item{
        color:black!important;
    }
    .navbar-light .navbar-toggler .navbar-toggler-icon{
        color: white!important;
    }
    .jumbotron{
        text-align: center;
        color: white;
        height: 85%;
        background-color: rgba(0,0,0,0)!important;
        @media (max-width: 767.98px){
            height: 60%;
        }
        h1{
            display: inline-block;//tjs un block + comportement en inline
            font-family: 'Charmonman', cursive;
            background-color: rgba(140,73,39,0.5);
            border-radius: 60px;
            font-size: 6em;
            letter-spacing: 0.03em;
            margin: 1.8em 0 1.7em 0;
            padding: 0.3em 0.2em 0.1em 0.2em;
            @media (max-width: 767.98px) {
                font-size: 2em;
                margin: 0 0 1em 0;
                padding:0.1em 0 0.1em 0;
                border-radius: 10px;
            }           
        }
        p{
            font-family: 'Charmonman', cursive;
            letter-spacing: 0.1em;
            @media (max-width: 767.98px) {
                font-size: 1.2em;
            }
        }
    }
//page-carousel
#carouselExampleIndicators{
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    overflow: hidden;
    margin: 2.5em auto auto auto;
}
//page-menu
.menu.pizza-yolo{
    font-family: 'Charmonman', cursive;
    background-color: rgba(140,73,39,1);
    width: 80%;
    height: 80vh;
    border: 25px solid #361e11;
    color: white;
    overflow: hidden;
    margin: 2.5em auto 2.5em auto;
    div{
        h2{
            margin: 1.1em 0 0 0;
            font-size: 4em;
        }
    }
}
#list-tab{
    width: 444px;
    height: 29.2vh;
    
}
#nav-tabContent{
    width: 888px;
    height: 29.2vh;
    overflow: hidden;
}
.list-group-item{
    background-color: #7e654a;
    color: white;
}
.list-group-item.active{
    background-color: #a9ae60;
    border: 0.5px solid #7e654a;
}
}
footer{
    color: white;;
    padding: 0.5em 0;
    font-family: 'Charmonman', cursive;
    background-color: black;
}
